
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.venv/
env/

# Environment Variables & Secrets
.env
ee-olivaresg-b7842843c247.json
service_account.json
*.pem
*.key

# IDE
.vscode/
.idea/

# Logs
*.log
